footer {
    height: 5vh;
    background-color: $primary;
    font-size: 1.6rem;
    .flexContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}