footer {
    // height: 10vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    // position: relative;
    z-index: 50;
    padding: 20px 0;
    // height: 8vh;
    // bottom: 33px;
    // left: 95px;
    // background-color: $primary;
    background-image: linear-gradient(to top, $primary, rgba(255,255,255,0));
    font-size: 1.6rem;
    .flexContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}