header {
    height: 10vh;
    background-color: peachpuff;
    .flexContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    i {
        font-size: 3rem;
    }
} 