main {
    height: 70vh;
    background-color: #d9098c;
    .flexContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        position: relative;
    }
}

.numBox {
        width: 80px;
        height: 80px;
        background-color: #00adef;
        border: 2px solid black;
        // margin: 2px;
}

.luckyNumbersContainer,
.yourNumbersContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // color: white;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 10px;
    h2 {
        padding-bottom: 5px;
    }
}

.lineOne {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.lineTwo {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.luckyNumbersContainer {
    .boxContainer {
        border: 2px solid black;
    }
}

.lineOne,
.lineTwo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // border: 2px solid black;
}

// .luckyNumbersContainer .box1::before  {
//     content: 'LUCKY NUMBERS';
//     position: absolute;
//     top: 0;
//     color: white;
//     font-size: 2.5rem;
// }

// .yourNumbersContainer .box1::before  {
//     content: 'YOUR NUMBERS';
//     position: absolute;
//     top: 0;
//     color: white;
//     font-size: 2.5rem;
// }

.yourNumbersContainer {
    // flex-wrap: wrap;
    // flex-direction: column;
    .boxContainer {
        flex-wrap: wrap;
    }
}

.numBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    .ranNum {
        font-size: 3.2rem;
    }
    .ranPrize {
        font-size: 2.0rem;
    }
}

.scratchBoxCover {
    position: absolute;
    width: 100%;
    height: 100%;
    // width: 80px;
    // height: 80px;
    background-color: blueviolet;
    border: 2px soild black;
}

.scratched {
    opacity: 0;
}

button.submit {
    font-size: 2.4rem;
    padding: 15px 20px;
    background-color: #ffc905;
}


.prizeAlertContainer {
    width: 100%;
    height: 100%;
    // background-color: lightblue;
    // z-index: 10;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prizeAlert {
    position: relative;
    width: 80%;
    height: 236px;
    // background-color: goldenrod;
    // background-image: url('../assets/starburst.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        z-index: 1;
    }
    p:nth-of-type(1) {
        font-size: 3.5rem;
        // margin-bottom: 5px;
        // font-family: 'Bebas Neue', cursive;
    }
    p:nth-of-type(2) {
        font-size: 3.0rem;
         font-family: 'Rubik', sans-serif;
        //  font-weight: bold;
    }
    button {
        font-size: 2.0rem;
        padding: 10px 20px;
        background-color: #ffc905;
        margin-top: 5px;
    }
}

#starBurst {
    position: absolute;
    top: 0;
    bottom: 0;
}

.numBox {
  cursor: url('../assets/coinCursor.png'), auto;	
}

// temp remove submit button
.hide {
    visibility: hidden;;
}

// scratch effect
.grid {
    // display: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

// .visbleGrid {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: flex-start;
// }

.grid span {
    display: block;
    width: 10px;
    height: 10px;
    // float: left;
    border:1px solid rgba(0,0,0,0.03);
    background-color: orange;
}
.grid span.filled {
    background:#c0392b;
}


// MEDIA QUERIES
@media (min-width: 499px) {
    header,
    main,
    footer {
        max-width: 499px;
        margin: 0 auto;
    }
    body {
            background-color: #1c1f1d;
        }

}

@media (max-width: 400px) {
    main {
        .wrapper {
            width: 100%;
        }
    }
}


