main {
    height: 70vh;
    background-color: $secondary;
    .flexContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        position: relative;
    }
}

.numBox {
    width: 80px;
    height: 80px;
    background-color: $primary;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    .ranNum {
        font-size: 3.2rem;
        position: relative;
        z-index: 10;
    }
    .ranPrize {
        font-size: 2.0rem;
        position: relative;
        z-index: 10;
    }
}

.luckyNumbersContainer,
.yourNumbersContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 10px;
    h2 {
        padding-bottom: 5px;
    }
}

.lineOne {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.lineTwo {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.luckyNumbersContainer {
    .boxContainer {
        border: 2px solid black;
    }
}

.lineOne,
.lineTwo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.yourNumbersContainer {
    .boxContainer {
        flex-wrap: wrap;
    }
}

.scratchBoxCover {
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: blueviolet;
    border: 2px soild black;
    display: grid;
    grid-template-columns: repeat(16, 5px);
    overflow: hidden;
}

.gridDiv {
    background-color: blueviolet;
    width: 5px;
    height: 5px;
    position: relative;
    z-index: 20;
}

.notVisible {
    opacity: 0;
    border-radius: 50%;
}

.siblingRight {
    position: relative;
    background-color: none;
    // background: radial-gradient(circle at 100%, rgba(138, 43, 226, 0) 50%, rgba(138, 43, 226, 0) 75%, rgba(138, 43, 226, 1) 75%);
    background: radial-gradient(circle at 100%, rgba(138, 43, 226, 0) 60%, rgba(138, 43, 226, 1) 60%);
    transform: rotate(180deg);
    // &:after {
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     left: -4px;
    //     border-radius: 50%;
    //     background-color: $primary;
    //     z-index: 5;
    // }
}

.siblingRightTop {
    position: relative;
    background-color: none;
    // background: radial-gradient(circle at 100%, rgba(138, 43, 226, 0) 50%, rgba(138, 43, 226, 0) 75%, rgba(138, 43, 226, 1) 75%);
    background: radial-gradient(circle at 0 0, rgba(138, 43, 226, 0) 40%, rgba(138, 43, 226, 1) 40%);
    transform: rotate(-90deg);
    //    &:before {
    //     content: '';
    //     position: absolute;
    //     width: 50%;
    //     height: 8px;
    //     top: -2px;
    //     right: 3px;
    //     // border-radius: 50%;
    //     // background-color: $primary;
    //     background-color: blueviolet;
    //     transform: rotate(45deg)
    //     // z-index: 5;
    // }
    // &:after {
    //     content: '';
    //     position: absolute;
    //     width: 50%;
    //     height: 8px;
    //     top: -1px;
    //     right: 3px;
    //     // border-radius: 50%;
    //     background-color: blueviolet;
    //     // background-color: black;
    //     transform: rotate(135deg)
    //     // z-index: 5;
    // }
}

.siblingLeftTop {
    position: relative;
    background-color: none;
    // background: radial-gradient(circle at 100%, rgba(138, 43, 226, 0) 50%, rgba(138, 43, 226, 0) 75%, rgba(138, 43, 226, 1) 75%);
    background: radial-gradient(circle at 0 0, rgba(138, 43, 226, 0) 40%, rgba(138, 43, 226, 1) 40%);
    transform: rotate(180deg);
    //    &:before {
    //     content: '';
    //     position: absolute;
    //     width: 50%;
    //     height: 8px;
    //     top: -2px;
    //     right: 3px;
    //     // border-radius: 50%;
    //     // background-color: $primary;
    //     background-color: blueviolet;
    //     transform: rotate(45deg)
    //     // z-index: 5;
    // }
    // &:after {
    //     content: '';
    //     position: absolute;
    //     width: 50%;
    //     height: 8px;
    //     top: -1px;
    //     right: 3px;
    //     // border-radius: 50%;
    //     background-color: blueviolet;
    //     // background-color: black;
    //     transform: rotate(135deg)
    //     // z-index: 5;
    // }
}

.siblingLeft {
    position: relative;
    background-color: none;
    // background: radial-gradient(circle at 100%, rgba(138, 43, 226, 0) 50%, rgba(138, 43, 226, 0) 75%, rgba(138, 43, 226, 1) 75%);
    background: radial-gradient(circle at 100%, rgba(138, 43, 226, 0) 60%, rgba(138, 43, 226, 1) 60%);
    // &:after {
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     right: -4px;
    //     border-radius: 50%;
    //     background-color: $primary;
    //     z-index: 5;
    // }
}

.siblingTop {
    position: relative;
    background-color: none;
    // background: radial-gradient(circle at 100%, rgba(138, 43, 226, 0) 50%, rgba(138, 43, 226, 0) 75%, rgba(138, 43, 226, 1) 75%);
    background: radial-gradient(circle at 100%, rgba(138, 43, 226, 0) 60%, rgba(138, 43, 226, 1) 60%);
    transform: rotate(90deg)
    // &:after {
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     bottom: -4px;
    //     border-radius: 50%;
    //     background-color: $primary;
    //     z-index: 5;
    // }
}

.siblingBottom {
    position: relative;
    background-color: none;
    // background: radial-gradient(circle at 100%, rgba(138, 43, 226, 0) 50%, rgba(138, 43, 226, 0) 75%, rgba(138, 43, 226, 1) 75%);
    background: radial-gradient(circle at 100%, rgba(138, 43, 226, 0) 60%, rgba(138, 43, 226, 1) 60%);
    transform: rotate(-90deg)
    
    // &:after {
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: -4px;
    //     border-radius: 50%;
    //     background-color: $primary;
    //     z-index: 5;
    // }
}

.siblingRightBottom {
    position: relative;
    background-color: none;
    // background: radial-gradient(circle at 100%, rgba(138, 43, 226, 0) 50%, rgba(138, 43, 226, 0) 75%, rgba(138, 43, 226, 1) 75%);
    background: radial-gradient(circle at 0 0, rgba(138, 43, 226, 0) 40%, rgba(138, 43, 226, 1) 40%);
    // transform: rotate(-135deg);
    // &:before {
    //     content: '';
    //     position: absolute;
    //     width: 50%;
    //     height: 8px;
    //     top: -2px;
    //     right: 3px;
    //     // border-radius: 50%;
    //     // background-color: $primary;
    //     background-color: blueviolet;
    //     transform: rotate(45deg)
    //     // z-index: 5;
    // }
    // &:after {
    //     content: '';
    //     position: absolute;
    //     width: 50%;
    //     height: 8px;
    //     top: -1px;
    //     right: 3px;
    //     // border-radius: 50%;
    //     background-color: blueviolet;
    //     // background-color: black;
    //     transform: rotate(135deg)
    //     // z-index: 5;
    // }
}

.siblingLeftBottom {
    position: relative;
    background-color: none;
    // background: radial-gradient(circle at 100%, rgba(138, 43, 226, 0) 50%, rgba(138, 43, 226, 0) 75%, rgba(138, 43, 226, 1) 75%);
    background: radial-gradient(circle at 0 0, rgba(138, 43, 226, 0) 40%, rgba(138, 43, 226, 1) 40%);
    transform: rotate(90deg); 
    //    &:before {
    //     content: '';
    //     position: absolute;
    //     width: 50%;
    //     height: 8px;
    //     top: -2px;
    //     right: 3px;
    //     // border-radius: 50%;
    //     // background-color: $primary;
    //     background-color: blueviolet;
    //     transform: rotate(45deg)
    //     // z-index: 5;
    // }
    // &:after {
    //     content: '';
    //     position: absolute;
    //     width: 50%;
    //     height: 8px;
    //     top: -1px;
    //     right: 3px;
    //     // border-radius: 50%;
    //     background-color: blueviolet;
    //     // background-color: black;
    //     transform: rotate(135deg)
    //     // z-index: 5;
    // } 
}

.scratched {
    // opacity: 0;
    // z-index: 5
}

button.submit {
    font-size: 2.4rem;
    padding: 15px 20px;
}


.prizeAlertContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prizeAlert {
    position: relative;
    width: 80%;
    height: 236px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 30;
    p {
        z-index: 1;
    }
    p:nth-of-type(1) {
        font-size: 3.5rem;
    }
    p:nth-of-type(2) {
        font-size: 3.0rem;
         font-family: 'Rubik', sans-serif;
    }
    button {
        font-size: 2.0rem;
        padding: 10px 20px;
        margin-top: 5px;
    }
}

#starBurst {
    position: absolute;
    top: 0;
    bottom: 0;
}

.numBox {
  cursor: url('../assets/coinCursor.png'), auto;
  overflow: hidden;	
}

// remove submit button
.hide {
    visibility: hidden;;
}


// MEDIA QUERIES
@media (min-width: 499px) {
    header,
    main,
    footer {
        max-width: 499px;
        margin: 0 auto;
    }
    body {
            background-color: #1c1f1d;
        }

}

@media (max-width: 400px) {
    main {
        .wrapper {
            width: 100%;
        }
    }
}

.buttonContainer {
    border-radius: 5px;
    // position: relative;
    // overflow: hidden;
}

button {
    box-shadow: 5px 5px 5px black;
}

button::before {
    content: " ";
    position: absolute;
    background-image: linear-gradient(-45deg, transparent 33%, rgba(255, 255, 255, 0.4) 50%, transparent 66%);
    width: 400px;
    height: 80px;
    transition: 0.7s;
    left: -300px;
    top: -15px;
    z-index: 10;
}

button:hover::before {
    left: 100px;
}
