// ------------ HAMBURGER MENU --------------
main {
    // position: relative;
}

.fa-question {
    cursor: pointer;
    position: relative;
    color: blueviolet;
}

.hamburgerIcon {
    height: 100%;
    // margin-top: 20px;
    padding-top: 10px;
    padding-right: 10px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 50px;
        height: 100%;
        top: 0;
        left: -13px;
        background-image: url("../assets/coinCursor.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.hamMenu {
    position: absolute;
    top: 20vh;
    // bottom: 8vh;
    min-height: 70vh;
    left: 0;
    right: 0;
    z-index: 40;
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}

.openMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px 0 20px 20px;
    // padding-left: 20px;
    font-family: 'Rubik', sans-serif;
    h2 {
        margin-bottom: 15px;
        padding-right: 20px;
        font-size: 4.0rem;
        font-family: 'Bebas Neue', cursive;
    }
    ul {
        font-size: 2.0rem;
    }
    li {
        position: relative;
        margin-bottom: 12px;
    }
    li::before {
        content: '';
        width: 25px;
        height: 25px;
        position: absolute;
        top: -2px;
        left: -30px;
        bottom: 0;
        background-image: url(../assets/coinBullet.png);
         background-repeat: no-repeat;
        background-position:  center;
    }
}