article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

fieldset {
  border: none;
}

input {
  border: none;
}

textarea {
  border: none;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

.lineBreak {
  display: block;
}

button {
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  position: relative;
  overflow: hidden;
  background-color: #ffc905;
  border: 4px solid blueviolet;
  text-transform: uppercase;
  text-shadow: none;
  background-color: black;
}

.flexContainer h2, button {
  color: #ffffff;
}

.outline {
  text-shadow: 2px 2px 0 black, 2px -2px 0 black, 2px -1px 0 black,2px 1px 0 black, -2px 2px 0 black, -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2.1px 0px 0 black, -1px 0px 0 black, -2px -1px 0 black, 0px -2px 0 black;
}

strong {
  font-weight: bold;
}

canvas {
  position: absolute;
  z-index: 20;
}

.patternContainer {
  max-width: 499px;
  background-color: #d9098c;
  position: relative;
  margin: 0 auto;
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
}

.patternContainer:before {
  content: "";
  position: absolute;
  top: -81px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/falling-money.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.patternContainer:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-image: url("../assets/floating-coins.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stopScroll {
  overflow: hidden;
}

header {
  height: 20vh;
  padding: 20px 0;
  position: relative;
  z-index: 40;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00adef), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to bottom, #00adef, rgba(255, 255, 255, 0));
}

header .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

header i {
  font-size: 3rem;
}

h1 {
  font-size: 5.5rem;
  font-family: 'Bebas Neue', cursive;
  line-height: 5.0rem;
}

.headerText {
  color: #ffc905;
}

.prizeCounter {
  position: absolute;
  font-size: 2.2rem;
  font-weight: bold;
  top: 60px;
  right: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.fa-question {
  cursor: pointer;
  position: relative;
  color: blueviolet;
}

.hamburgerIcon {
  height: 100%;
  padding-top: 10px;
  padding-right: 10px;
  position: relative;
}

.hamburgerIcon:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  left: -13px;
  background-image: url("../assets/coinCursor.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.hamMenu {
  position: absolute;
  top: 20vh;
  bottom: 8vh;
  left: 0;
  right: 0;
  z-index: 40;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;
}

.openMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instructionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding: 20px 0 20px 20px;
  font-family: 'Rubik', sans-serif;
}

.instructionContainer h2 {
  margin-bottom: 15px;
  padding-right: 20px;
  font-size: 4.0rem;
  font-family: 'Bebas Neue', cursive;
}

.instructionContainer ul {
  font-size: 2.0rem;
}

.instructionContainer li {
  position: relative;
  margin-bottom: 12px;
}

.instructionContainer li::before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: -2px;
  left: -30px;
  bottom: 0;
  background-image: url(../assets/coinBullet.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 400px) {
  h1 {
    font-size: 4.5rem;
  }
  .instructionContainer li {
    font-size: 1.8rem;
  }
  .instructionContainer h2 {
    font-size: 3.5rem;
  }
}

main {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding-bottom: 50px;
  z-index: 20;
}

main .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  z-index: 20;
}

.numBox {
  width: 80px;
  height: 80px;
  background-color: #00adef;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.numBox .ranNum {
  font-size: 3.2rem;
  position: relative;
  z-index: 10;
}

.numBox .ranPrize {
  font-size: 2.0rem;
  position: relative;
  z-index: 10;
}

.luckyNumbersContainer,
.yourNumbersContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.luckyNumbersContainer h2,
.yourNumbersContainer h2 {
  padding-bottom: 5px;
  text-shadow: none;
  background-color: black;
  padding: 5px 5px;
  border-radius: 5px;
  text-transform: uppercase;
}

.lineOne {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.lineTwo {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.luckyNumbersContainer .boxContainer {
  border: 2px solid black;
}

.lineOne,
.lineTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.yourNumbersContainer {
  margin-top: 20px;
}

.yourNumbersContainer .boxContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.scratchBoxCover {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px soild black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (5px)[16];
      grid-template-columns: repeat(16, 5px);
  overflow: hidden;
}

.gridDiv {
  background-color: blueviolet;
  width: 5px;
  height: 5px;
  position: relative;
  z-index: 20;
}

.notVisible {
  opacity: 0;
  border-radius: 50%;
}

button.submit {
  font-size: 2.4rem;
  padding: 15px 20px;
}

.prizeAlertContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -46px;
  z-index: 30;
}

.behind {
  z-index: 0;
}

.prizeAlert {
  position: relative;
  width: 80%;
  height: 236px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 30;
}

.prizeAlert p {
  z-index: 1;
  font-weight: bold;
}

.prizeAlert p:nth-of-type(1) {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.prizeAlert p:nth-of-type(2) {
  font-size: 3.0rem;
  font-family: 'Rubik', sans-serif;
}

.prizeAlert button {
  font-size: 2.0rem;
  padding: 10px 20px;
  margin-top: 10px;
}

#starBurst {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px solid blueviolet;
  background-color: white;
  -webkit-box-shadow: 10px 10px 20px black;
          box-shadow: 10px 10px 20px black;
  z-index: 30;
}

.numBox {
  cursor: url("../assets/coinCursor.png"), auto;
  overflow: hidden;
}

.hide {
  visibility: hidden;
}

@media (min-width: 499px) {
  header,
  main,
  footer {
    max-width: 499px;
    margin: 0 auto;
  }
  body {
    background-color: #1c1f1d;
  }
}

@media (max-width: 400px) {
  main .wrapper {
    width: 100%;
  }
}

.buttonContainer {
  border-radius: 5px;
  margin-top: 30px;
}

button::before {
  content: " ";
  position: absolute;
  background-image: linear-gradient(-45deg, transparent 33%, rgba(255, 255, 255, 0.4) 50%, transparent 66%);
  width: 400px;
  height: 80px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  left: -300px;
  top: -15px;
  z-index: 10;
}

button:hover::before {
  left: 100px;
}

.rain, .rainB {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 20;
}

.drop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  background-color: #fff697;
  position: absolute;
  z-index: 30;
  -webkit-animation: fall 2.45s linear 1;
          animation: fall 2.45s linear 1;
}

.dropB {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  background-color: #fff697;
  position: absolute;
  z-index: 30;
  -webkit-animation: fall 2.45s linear 0.8s 1;
          animation: fall 2.45s linear 0.8s 1;
}

@-webkit-keyframes fall {
  100% {
    -webkit-transform: translateY(300vh);
            transform: translateY(300vh);
  }
}

@keyframes fall {
  100% {
    -webkit-transform: translateY(300vh);
            transform: translateY(300vh);
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 50;
  padding: 20px 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00adef), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #00adef, rgba(255, 255, 255, 0));
  font-size: 1.6rem;
}

footer .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
